<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><img class="toolbar-img" width="50" src="./assets/cloud.svg"></span>
    <span class="example-fill-remaining-space"></span>
    <span class="spacer"></span>
    <span class="align-center"> Welcome to {{ title }}!</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="form">
  <mat-form-field class="full-width">
    <input matInput placeholder="Beschreibung"
           [(ngModel)]="media.description">
  </mat-form-field>
  <mat-radio-group class="radio-group"
                   [(ngModel)]="media.type">
    <mat-radio-button class="radio-button"
                      *ngFor="let type of types"
                      [value]="type">
      {{type}}
    </mat-radio-button>
  </mat-radio-group>
  <input type="file" (change)="uploadFile($event)">
  <button [disabled]="uploadEnabled"
          (click)="submit()">Upload</button>
</div>

<item-list [items]="items"></item-list>







