<div class="container mat-elevation-z8">
  <div class="header">
    <mat-form-field class="search">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" class="search">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <!-- <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container> -->

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>

    </ng-container>
    <ng-container matColumnDef="media">
      <mat-header-cell *matHeaderCellDef> Media </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-template [ngIf]="element.type == 'IMAGE'">
          <img width="200px" height="200px" [src]="base64(element)" lazy-load="base64(element)" />
        </ng-template>
        <ng-template [ngIf]="element.type == 'VIDEO'">
          <video width="300px" height="200px" controls>
            <source type="video/mp4" [src]="base64(element)" lazy-load="base64(element)">
          </video>
        </ng-template>
        <ng-template [ngIf]="element.type == 'AUDIO'">
          <audio controls [src]="base64(element)" lazy-load="base64(element)">
          </audio>
        </ng-template>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef=" displayedColumns "></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns; "></mat-row>
  </mat-table>
</div>
